.form_recette {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
    /* text-align: center; */
}
/* .form_recette {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
} */




/*

.form-errors {
    color: #ff0000;
    margin-top: 10px;
} */


.title_and_line {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.line-edit_recette {
    display: inline-block;
    width: 17%; 
    height: 3px; 
    margin-bottom: 30px;
    background-color: #ffc904; 
    border: none; 
}

.title_form {
    margin-bottom: 5%;
    margin-top: 5%;
}

.description_form {
    margin-bottom: 5%;
}

.button_form {
    background-color: #ffc904;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5%;
    margin-top: 5%;
}

.button_form:hover {
    background-color: #ff8c00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}