.h1_recette {
    color: #333;
    font-size: 24px;
    margin-bottom: 5%;
    text-align: center;
    margin-top: 5%;
}

.recettes {
    display: flex;
    justify-content: center; 
    list-style: none;
    padding: 0;
}

.recette {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.recette:hover {
    transform: scale(1.05);
}

.recette img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
}

.comment small {
    font-size: 12px;
    color: #888;
}

.comment p {
    margin: 5px 0;
}

form {
    margin-top: 10px;
    text-align: center;
}



#toggle-comments-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.hide-comments {
    display: none;
}

.hide-comments-1,
.hide-comments-2,
.hide-comments-N {
    display: none;
}


.title_and_line {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.line-full_recette {
    display: inline-block;
    width: 15%; 
    height: 3px; 
    margin-bottom: 30px;
    background-color: #ffc904; 
    border: none; 
}