h1 {
    text-align: left;
    color: #4caf50; /* Couleur du titre principal */
    margin-left: 5%;
    padding-top: 5%;
}
h2 {
    color: #4caf50; /* Couleur des sous-titres */
    margin-top: 20px; /* Marge en haut des sous-titres */
    margin-left: 5%;
}
h4{
    color: #4caf50; /* Couleur des sous-titres */
    margin-top: 20px; /* Marge en haut des sous-titres */
    margin-left: 5%;
}
p {
    text-align: left;
    color: white;
    margin-left: 5%;
}
#home {
    position: relative;
    background-image: url('/images/test.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    /* Ajustez l'opacité de l'image de fond pour l'assombrir */
    opacity: 70;
}




  /* Categorie ET ARTICLE HOME */
  .categorie_h1{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    color: black;

  }
  .categorie_h2{
    text-align: center;
    margin-bottom: 5%;
    color: black;

  }
  .articles{
    display: flex;
    justify-content: space-around;
  }
  .article{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4caf50;
  }
  .article_image{
    margin-top: 5%;
    margin-bottom: 5%;
  }