/* Styles pour la navbar */
.navbar {
    background-color: #4caf50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: rgb(229, 229, 229);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #09090a;
  }
  /* Styles pour les utilisateurs connectés */
  .user-info {
    display: flex;
    align-items: center;
    color: rgb(249, 249, 249);
  }
  
  .user-info a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .user-info a:hover {
    color: #000000;
  }
  
  /* Styles pour la version responsive */
  @media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .nav-links {
        margin-top: 10px;
    }
  
    .nav-links ul {
        flex-direction: column;
    }
  
    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
  }