<footer class="footer">

  <div class="logo-footer">
    <a href="#">
      <img src="{{ asset('images/blog8.png') }}" alt="Nom de l'image" class="nav-logo" />
    </a>
  </div>

  <div class="footer-container">
    <div class="footer-links">
      <nav class="navbar-footer">
        <ul>
          <li class="li-footer"><a href="#">Accueil</a></li>
          <li class="li-footer"><a href="#">Créer vos recettes</a></li>
          <li class="li-footer"><a href="#">Vos recettes</a></li>
          <li class="li-footer"><a href="#">Toutes les recettes</a></li>
          <li class="li-footer"><a href="#">Quizz</a></li>

        </ul>
      </nav>

      <div class="footer-section">
        <p> <a href="#">Conditions d'utilisation</a>  ||  <a href="#">Politique de confidentialité</a>   ||   <a href="#">Mention légal</a></p>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2024 La magie des saveurs. Tous droits réservés.</p>
      </div>
    </div>

  </div>
</footer>
