{% extends 'base.html.twig' %}

{% block title %}Liste des Détails de Recettes{% endblock %}

{% block body %}
    <h1>Liste des Détails de Recettes</h1>

    {% if recipeDetails is empty %}
        <p>Aucun détail de recette n'est disponible pour le moment.</p>
    {% else %}
        <ul>
            {% for detail in recipeDetails %}
                <li>{{ detail.title }}</li>
                <li>{{ detail.description }}</li>
                <li>{{ detail.picture}}</li>
                <li>{{ detail.ingredients }}</li>
                <!-- Ajoutez d'autres détails de recette ici si nécessaire -->
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
