{% extends 'base.html.twig' %}

{% block title %}Détails de la Recette{% endblock %}

{% block body %}
    <h1>Détails de la Recette</h1>

    {% if not recipeDetails %}
        <p>Aucun détail de recette n'est disponible pour le moment.</p>
    {% else %}
        <ul>
            <li>{{ recipeDetails.title }}</li>
            <li>{{ recipeDetails.description }}</li>
            <li>{{ recipeDetails.picture }}</li>
            <li>{{ recipeDetails.ingredients }}</li>
        </ul>
    {% endif %}
{% endblock %}
